<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.chinatour.persistence.FlightPriceInfoMapper">
	<resultMap id="BaseResultMap" type="com.chinatour.entity.FlightPriceInfo">
		<id column="FlightPriceInfoId" property="flightPriceInfoId"
			jdbcType="VARCHAR" />
		<result column="CustomerNo" property="customerNo" jdbcType="INTEGER" />
		<result column="FlyReceivable" property="flyReceivable"
			jdbcType="DECIMAL" />
		<result column="SupplierOfAgentId" property="supplierOfAgentId"
			jdbcType="VARCHAR" />
		<result column="CustomerId" property="customerId" jdbcType="VARCHAR" />
		<result column="IsCalculate" property="isCalculate" jdbcType="INTEGER" />
		<result column="OrderId" property="orderId" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultCustomerMap" type="com.chinatour.entity.FlightPriceInfo">
		<id column="FlightPriceInfoId" property="flightPriceInfoId"
			jdbcType="VARCHAR" />
		<result column="CustomerNo" property="customerNo" jdbcType="INTEGER" />
		<result column="FlyReceivable" property="flyReceivable"
			jdbcType="DECIMAL" />
		<result column="CustomerId" property="customerId" jdbcType="VARCHAR" />
		<result column="IsCalculate" property="isCalculate" jdbcType="INTEGER" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="orderNo" property="orderNo" jdbcType="VARCHAR" />
		<result column="lastName" property="lastName" jdbcType="VARCHAR" />
		<result column="firstName" property="firstName" jdbcType="VARCHAR" />
		<result column="middleName" property="middleName" jdbcType="VARCHAR" />
		<result column="agent" property="agent" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		FlightPriceInfoId, CustomerNo, FlyReceivable,
		SupplierOfAgentId, CustomerId,
		IsCalculate,
		OrderId
	</sql>
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from flightpriceinfo
		where FlightPriceInfoId =
		#{flightPriceInfoId,jdbcType=VARCHAR}
	</select>
	<delete id="removeById" parameterType="java.lang.String">
		delete from
		flightpriceinfo
		where FlightPriceInfoId =
		#{flightPriceInfoId,jdbcType=VARCHAR}
	</delete>
	
	<select id="removeByIds" resultMap="BaseResultMap">
		DELETE 
		FROM flightpriceinfo
		<where>
			<trim suffixOverrides="AND">
				FlightPriceInfoId in
					<foreach item="item" index="index" collection="ids" open="("
					separator="," close=")">
						#{item}
					</foreach>
				AND
			</trim>
		</where>
	</select>
	
	<insert id="save" parameterType="com.chinatour.entity.FlightPriceInfo">
		insert into flightpriceinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="flightPriceInfoId != null">
				FlightPriceInfoId,
			</if>
			<if test="customerNo != null">
				CustomerNo,
			</if>
			<if test="flyReceivable != null">
				FlyReceivable,
			</if>
			<if test="supplierOfAgentId != null">
				SupplierOfAgentId,
			</if>
			<if test="customerId != null">
				CustomerId,
			</if>
			<if test="isCalculate != null">
				IsCalculate,
			</if>
			<if test="orderId != null">
				OrderId
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="flightPriceInfoId != null">
				#{flightPriceInfoId,jdbcType=VARCHAR},
			</if>
			<if test="customerNo != null">
				#{customerNo,jdbcType=INTEGER},
			</if>
			<if test="flyReceivable != null">
				#{flyReceivable,jdbcType=DECIMAL},
			</if>
			<if test="supplierOfAgentId != null">
				#{supplierOfAgentId,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				#{customerId,jdbcType=VARCHAR},
			</if>
			<if test="isCalculate != null">
				#{isCalculate,jdbcType=INTEGER},
			</if>
			<if test="orderId != null">
				#{orderId,jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
	
	<insert id="batchSave" parameterType="java.util.List">
		INSERT INTO flightpriceinfo
			(<include refid="Base_Column_List"/>)
		values 
			<foreach collection="list" item="item" index="index" separator="," >
				(
					#{item.flightPriceInfoId,jdbcType=VARCHAR},
					#{item.customerNo,jdbcType=INTEGER},
					#{item.flyReceivable,jdbcType=DECIMAL},
					#{item.supplierOfAgentId,jdbcType=VARCHAR},
					#{item.customerId,jdbcType=VARCHAR},
					#{item.isCalculate,jdbcType=INTEGER},
					#{item.orderId,jdbcType=VARCHAR}
				)
			</foreach>
	</insert>
	
	<update id="update" parameterType="com.chinatour.entity.FlightPriceInfo">
		update flightpriceinfo
		<set>
			<if test="customerNo != null">
				CustomerNo = #{customerNo,jdbcType=INTEGER},
			</if>
			<if test="flyReceivable != null">
				FlyReceivable = #{flyReceivable,jdbcType=DECIMAL},
			</if>
			<if test="supplierOfAgentId != null">
				SupplierOfAgentId =
				#{supplierOfAgentId,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				CustomerId = #{customerId,jdbcType=VARCHAR},
			</if>
			<if test="isCalculate != null">
				IsCalculate = #{isCalculate,jdbcType=INTEGER},
			</if>
			<if test="orderId != null">
				OrderId = #{orderId,jdbcType=VARCHAR},
			</if>
		</set>
		where FlightPriceInfoId = #{flightPriceInfoId,jdbcType=VARCHAR}
	</update>
	<select id="findByTourId" resultMap="ResultCustomerMap"
		parameterType="java.lang.String">
		select
		o.OrderNo as orderNo,o.userId,a.username as
		agent,c.LastName,c.FirstName,c.MiddleName,
		c.CustomerId as CustomerId ,
		c.CustomerCode as CustomerNo
		from
		orders o, customer c,
		customer_order_rel cr,zs_admin a
		where
		cr.CustomerId=c.CustomerId and
		cr.OrderId=o.OrderId and
		o.UserId=a.id and
		o.TourId=#{tourId,jdbcType=VARCHAR}
	</select>

	<select id="findFlightAndCustomer" resultMap="ResultCustomerMap"
		parameterType="java.lang.String">
		SELECT
		f.orderId,
		f.FlightPriceInfoId,
		f.CustomerNo,
		f.flyReceivable,
		f.IsCalculate,
		c.lastName As lastName,
		c.firstName As firstName,
		c.MiddleName As midlleName,
		a.UserName As agent,
		o.UserId As UserId ,
		f.SupplierOfAgentId,
		o.orderNo as orderNo,
		o.state
		FROM
		flightpriceinfo
		f,
		supplierofagent s,
		customer c,
		suppriceinforel sf,
		orders o,
		customer_order_rel cr,
		zs_admin a
		WHERE
		s.SupPriceInfoRelId=sf.SupPriceInfoRelId
		AND
		f.SupplierOfAgentId=s.SupplierOfAgentId
		AND cr.CustomerId=c.CustomerId
		AND cr.OrderId=o.OrderId
		AND o.UserId=a.id
		AND sf.TourId=o.TourId
		AND
		f.OrderId=o.OrderId
		AND c.CustomerId=f.CustomerId
	
		<if test="flightPriceInfoId!=null">
			AND f.FlightPriceInfoId=#{flightPriceInfoId}
		</if>
		<if test="supplierOfAgentId!=null">
			AND f.SupplierOfAgentId=#{supplierOfAgentId}
		</if>
		<if test="orderId!=null">
			AND o.OrderId=#{orderId}
		</if>
		<if test="userId!=null">
			AND s.userId=#{userId}
		</if>
		<if test="supPriceInfoRelId!=null">
			AND sf.supPriceInfoRelId=#{supPriceInfoRelId}
		</if>
		Order By f.CustomerNo ASC
	</select>
	<select id="find" resultMap="BaseResultMap" parameterType="com.chinatour.entity.FlightPriceInfo">
		SELECT
		<include refid="Base_Column_List" />
		FROM flightpriceinfo
		<where>
			<if test="flightPriceInfoId != null">
				AND FlightPriceInfoId= #{flightPriceInfoId,jdbcType=VARCHAR}
			</if>
			<if test="customerNo != null">
				AND CustomerNo=#{customerNo,jdbcType=INTEGER}
			</if>
			<if test="flyReceivable != null">
				AND FlyReceivable=#{flyReceivable,jdbcType=DECIMAL}
			</if>
			<if test="supplierOfAgentId != null">
				AND SupplierOfAgentId=#{supplierOfAgentId,jdbcType=VARCHAR}
			</if>
			<if test="customerId != null">
				AND CustomerId=#{customerId,jdbcType=VARCHAR}
			</if>
			<if test="isCalculate != null">
				AND IsCalculate=#{isCalculate,jdbcType=INTEGER}
			</if>
			<if test="orderId != null">
				AND OrderId=#{orderId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>